<!DOCTYPE html>

<html>
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</head>
<body>
<form action="{{ path('index') }}" >
    <button type="submit" class="btn btn-primary"  >Back</button>
</form>

<form action="{{ path('edit') }}" method="post" name="formulario_login">
    <input type="text" id="id" name="id" value={{ id}} hidden />
    <br />
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value={{ name}} />
    <br />
    <label for="name">Model:</label>
    <input type="text" id="model" name="model" value={{ model}} />
    <br />
    <label for="name">Year:</label>
    <input type="text" id="year" name="year" value={{ year}} />
    <br />
    <button type="submit" id="submitted" name="_submitted" class="btn btn-danger" >updated </button>
</form>


{# twig #}

</body>
</html>


